/* You can add global styles to this file, and also import other style files */
.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control {
  height: 44px;
}

.cursor {
  cursor: pointer;
}

.main-panel {
    width: calc(100%) !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

