<div class="row">
  <div class="col-6">
    <div class="card card-statistics">
      <div class="card-body">

        <div class="clearfix">
          <div class="float-left">
            <fa-icon class="text-success icon-lg" [icon]="['fas', 'money-bill-alt']">
            </fa-icon>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Ingresos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ingresos | currency:'EUR'}}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <fa-icon class="mr-1" [icon]="['fas', 'exclamation-circle']">
          </fa-icon> {{ countIngresos }} movimientos con ingresos
        </p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card card-statistics">
      <div class="card-body">

        <div class="clearfix">
          <div class="float-left">
            <fa-icon class="text-danger icon-lg" [icon]="['fas', 'shipping-fast']">
            </fa-icon>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Gastos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ gastos | currency:'EUR'}}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <fa-icon class="mr-1" [icon]="['fas', 'exclamation-circle']">
          </fa-icon> {{ countGastos }} movimientos con gastos
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row m-5">

  <div class="col-12">
    <div class="card card-statistics">
      <div class="card-body">

        <div class="clearfix">
          <div class="float-left">
            <fa-icon class="text-info icon-lg" [icon]="['fas', 'building']" size="lg">
            </fa-icon>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Diferencia</p>
            <div class="fluid-container">
              <h3 [ngClass]="{
                      'text-success': ingresos + gastos > 0,
                      'text-danger': ingresos + gastos < 0
                    }" class="font-weight-medium text-right mb-0">
                {{ ingresos + gastos | currency:'EUR' }}
              </h3>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="col-12 p-5" *ngIf="ingresos > 0 || gastos > 0">
    <div class="card card-statistics">
      <div class="card-body">
        <h1 class="card-title">Gráfica</h1>

        <!-- gráfica ira aquí -->

      </div>
    </div>
  </div>

</div>
