<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Agregar Ingreso / Gasto</h4>
            <p class="card-description">
              Especifique el importe y el tipo
            </p>

            <form (ngSubmit)="crearIngresoGasto()" [formGroup]="formulario">
              
              <div class="form-group">
                <label>Descripción</label>
                <input type="text" 
                       class="form-control" 
                       placeholder="Descripción"
                       formControlName="descripcion"
                       name="descripcion">
              </div>

              <div class="form-group">
                  <label>Importe</label>
                  <input type="number" 
                         class="form-control" 
                         placeholder="Importe"
                         formControlName="importe"
                         name="importe">
                    <p>
                      Debe de ser un importe positivo
                    </p>
                </div>

              <div class="form-group">
                  <label>Tipo</label>
                  <br>
                    <button (click)="tipo = 'Gasto'" *ngIf="tipo === 'Ingreso'" type="button" class="btn btn-primary btn-block">Ingreso</button>
                    <button (click)="tipo = 'Ingreso'" *ngIf="tipo === 'Gasto'" type="button" class="btn btn-warning btn-block">Gasto</button>
              </div>

              <hr>
              <button *ngIf="!loading"[disabled]="formulario.invalid" type="submit" class="btn btn-success mr-2">
                <fa-icon [icon]="['fa', 'save']"></fa-icon>
                Agregar
              </button>
              <button *ngIf="loading" disabled class="btn btn-success mr-2">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> Espere...</button>


              <!-- 
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button> 
              -->
              
              <button type="reset" class="btn btn-light">Cancelar</button>

            </form>
          </div>
        </div>
      </div>
</div>
          